body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0 auto;
  text-align:center;
  background-color: red;

}

a {
  color: #00B7FF;
}

.tg  {border-collapse:collapse;border-spacing:0;border-color:#bbb;}
.tg td{font-family:Arial, sans-serif;font-size:18px;padding:10px 10px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#bbb;color:#594F4F;background-color:#E0FFEB;}
.tg th{font-family:Arial, sans-serif;font-size:18px;font-weight:normal;padding:10px 10px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#bbb;color:#493F3F;background-color:#9DE0AD;}
.tg .tg-58iv{font-size:20px;font-family:Arial, Helvetica, sans-serif !important;;text-align:center}
.tg .tg-ugh9{background-color:#C2FF;D6}

.center {
	text-align: center;
	width:100%;
    height:100%;
  }
  table {
    margin: 0 auto; /* or margin: 0 auto 0 auto */
  }

  .block{
    width: 300px;
    height: 120px;
    background-color: white;
    box-shadow: 10px 10px 5px #888888;
    padding: 5px 5px 5px 5px;
    margin: 0 auto;
  }